$MainbackgroundColor: #EAEAEA;
$MainFormColor: #FFF;


// Colors
$bg-color: $MainFormColor;
$dot-color: rgb(70, 32, 174);

$primaryColor:#5a29e4;
$primaryShadowColor:#5b29e45d;

// Dimensions
$dot-size: 1px;
$dot-space: 22px;