.Diary{
    display: flex;
    flex-direction: row;
}

.DiaryContent{
    margin-right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ColumsNames{
    text-align: center;
    text-decoration:solid;
}

.actions{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}   

.ui.medium.button{
    height: 50px;
}