.ui.header.ColumnsNames{
    color:red;
}
.ui.form.field > label{
    font-size: large;
    font-weight: bold;
    padding-bottom: 10px;
}


.ui.form textarea{
    border:solid;
    height: 65px;
}

.ui.input{
    border:solid;
    width: 100%;
    
}

.ui.form textarea:focus{
    border-color: gold;
}

.date.field{
    display: grid;
}

.time.field {
    width: 70px;
}